.container {
  border: 1px solid black;
  height: 50vh;
  width: 25rem;
  border-spacing: 0px;
}
.row {
  border: 1px solid black;
  height: 2vh;
  width: 5rem;
}
.column {
  border: 1px solid black;
  height: 2vh;
  width: 5rem;
}

/* input {
  border: none;
  text-align: center;
  background-color: aquamarine;
} */
